// pane_frames false

layout "default"
// copy_on_select false

theme "draculacustom"

themes {
   draculacustom {
        fg 248 248 242
        bg 68 71 90
        black 68 71 90 
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        cyan 139 233 253
        white 255 255 255
        orange 255 184 108
    }
}
